<div class="trips">
  <h4>My Vacations</h4>
    <hr>
      <% @vacations.each do |v| %>
          <h4><%= link_to v.name, vacation_path(v) %></h4>
          <%= link_to "Edit Vacation", edit_vacation_path(v) %> |
          <%= link_to "Cancel Vacation", vacation_path(v), :confirm => "Are you sure?", :method => :delete %>
      <% end %>
    </div>
      <%= button_to "Create New Vacation", new_vacation_path(@user) %>
